body{
    background-color: black;
    text-align: center;
}
img.ninja{
    position: relative;

}
#popup{
    position: relative;
    top: 250px;
    margin: 0 auto;
    width: 500px;

}
.contanier{
    background-color: wheat;
    padding: 30px; 
    position: absolute; 
    top: 50px; 
    width: 100%; 
    box-sizing: border-box;
    border-radius: 20px;
}
h2{
    font-size: 25px;
}
p{
    font-size: 14px;
    margin: 0 0 30px 0;
}
input{
  padding: 10px;
  border: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  font-size: 10px;
}
button{
  padding: 10px;
  border: 0;
  color: #fff;
  background: #333;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
  font-size: 10px;
}
.cross{
  position: absolute;
  top: 60px;
  left: 10px;
  background: #555;
  color: #ddd;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 11px;
}

#popup{
    top: -300px;
    transform-origin: 10px 60px;
    animation: drop 1s ease forwards
               ,shake 3s 2s  forwards;
}

@keyframes drop {
    0%{opacity: 0;}
    70%{ transform: translateY(520px) }
    100%{ transform: translateY(470PX); opacity: 1;}
}
@keyframes shake{
    0%{ transform: translateY(520px) rotateZ(0deg) }
    70%{ transform: translateY(520px) rotateZ(70deg)}
    100%{ transform: translateY(520px) rotateZ(75deg)}
    40%{ transform: translateY(520px) rotateZ(90deg)}
}
